[submodule "pack/plugins/start/kanagawa.nvim"]
	path = pack/plugins/start/kanagawa.nvim
	url = git@github.com:rebelot/kanagawa.nvim.git
[submodule "pack/plugins/start/nvim-treesitter"]
	path = pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/plugins/start/plenary.nvim"]
	path = pack/plugins/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "pack/plugins/start/telescope.nvim"]
	path = pack/plugins/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/plugins/start/copilot.vim"]
	path = pack/plugins/start/copilot.vim
	url = git@github.com:github/copilot.vim.git
[submodule "pack/plugins/start/nvim-tree.lua"]
	path = pack/plugins/start/nvim-tree.lua
	url = git@github.com:nvim-tree/nvim-tree.lua.git
[submodule "pack/plugins/start/nvim-lspconfig"]
	path = pack/plugins/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "pack/plugins/start/lualine.nvim"]
	path = pack/plugins/start/lualine.nvim
	url = git@github.com:nvim-lualine/lualine.nvim.git
[submodule "pack/plugins/start/indent-blankline.nvim"]
	path = pack/plugins/start/indent-blankline.nvim
	url = git@github.com:lukas-reineke/indent-blankline.nvim.git
[submodule "pack/plugins/start/vim-commentary.git"]
	path = pack/plugins/start/vim-commentary.git
	url = git@github.com:tpope/vim-commentary.git
[submodule "pack/plugins/start/nvim-cmp"]
	path = pack/plugins/start/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp.git
[submodule "pack/plugins/start/cmp-nvim-lsp"]
	path = pack/plugins/start/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp.git
[submodule "pack/plugins/start/catpuccin"]
	path = pack/plugins/start/catpuccin
	url = git@github.com:catppuccin/nvim.git
